/*-
 * #%L
 * xplan-webpages - Modul zur Gruppierung der Dokumentation
 * %%
 * Copyright (C) 2008 - 2025 Freie und Hansestadt Hamburg, developed by lat/lon gesellschaft für raumbezogene Informationssysteme mbH
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */
html, body {
  margin: 0;
  padding: 0;
  }
body {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
  }

/* links */
a:link {
  font-weight: bold;
  text-decoration: none;
  color: #ff9900;
  }
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #b4001e;
}
a:hover, a:active {
    text-decoration: underline;
    color: #ff6f00;
}

/* header */
#header{
  background-color: #fcfcfc;
  background-image: url(latilong.png);
  background-repeat:no-repeat;
  width:100%;
  height:70px;
  margin: auto;
  margin-bottom: 1em;
  padding-top: 20px;
  border-bottom: 5px solid #ff9900;
  }
h1, h2{
  margin-top: 1px;	
  padding-left:137px;
  letter-spacing: 0.16em;
  font-weight: normal;
  }
h1{
  color: #757575;
  }
h2{
  color: #8e8e8e;
  }
#header img{
  position: absolute;
  width: 200px;
  right: 150px;
  top:10px;
  }

/* main content */
div.content {
    margin: 40px;
    }
div.section{
  padding: 15px;
  padding-left: 30px;
  background-color: #fafafa;
  margin:auto;
  margin-bottom: 3em;
  width:800px;
  border: 1px solid #fafafa;

  }
div.section#a, #c, #e, #g{
  border-right: 4px solid #ff9900;
}
div.section#b, #d, #f{
  border-left: 4px solid #ff9900;
}
h3{
  font-size: 1.4em;
  font-weight: bold;
  color: #424242;
  }
h4{
  font-size: 1.1em;
  font-weight: normal;
  color: #424242;
  }
ul{
display: inline-block;
  }
p#dienste{
  text-align: justify;
  float: right;
  padding-right: 4em;
  width: 25em;
  }
/*Logo Anordnung */  
div.footer {
  padding: 15px;
  padding-left: 30px;
  background-color: #fafafa;
  margin:auto;
  margin-bottom: 3em;
  width:809px;
  }
div.footer td{
  width: 30%;
  }

/* version */
div.version{
  padding: 15px;
  padding-left: 30px;
  background-color: #fafafa;
  text-align: center;
}

/* Subfooter */
div.subfooter{
  text-align: center;
  margin-bottom: 5em;
}
.subfooter a:link {
  font-weight: bold;
  text-decoration: none;
  color: #939393;
  }
.subfooter a:visited {
  font-weight: bold;
    text-decoration: none;
    color: #939393;
}
.subfooter a:hover, .subfooter a:active {
    font-weight: bold;
    text-decoration: none;
    color: #ff9900;
}
