/*-
 * #%L
 * xplan-manager-web - Webanwendung XPlanManagerWeb
 * %%
 * Copyright (C) 2008 - 2025 Freie und Hansestadt Hamburg, developed by lat/lon gesellschaft für raumbezogene Informationssysteme mbH
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */
/*Folgend der allgemeine Style für Formatierung der Objekte, am Ende kann das Theme projektspezifisch angepasst werden*/

/* Style der XPlanManager Startseite */
html, body, tr{
  margin: 0;
  padding: 0;
  top:0;
  }
body, table td, select, button {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
  }
table{
  margin:auto;
  }
td.middleCenter{
  border-radius:3px;
  width:1000px;
  padding-top:5px;
  padding-bottom: 5px;
  background-color: #e0e0e0;
  }
select {
  background: white;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  padding:2px;
  }
div.stdFont{
  padding-right:30px;
  }
input.stdFont{
  background-color: #E6E6E6;
  border-radius:2px;
  margin-right:30px;
  }


/* Buttons */
button{
  padding: 3px 5px;
  cursor:pointer;
  border-radius:4px;
  color:#fff;
  }
button:hover, button:focus, button:active:focus, button:active{
  text-decoration:none;
  }
button:active{
  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  }
button[disabled], button[disabled]:hover, button[disabled]:active, button[disabled]:focus, button[disabled]:active:focus{
  cursor: default;
  color: #666;
  background-color: #bbb;
  -webkit-box-shadow:none;
  box-shadow:none;
  }
.removeButtonColumn button, button.removeButtonColumn {
  	background-image: url('xplanmgrweb/img/remove.png');
  	background-size: contain;
  	width: 25px;
  	height: 25px;
  	}
.previewButtonColumn button{
  	background-image: url('xplanmgrweb/img/preview.png');
  	background-size: contain;
  	width: 25px;
  	height: 25px;
    }
.downloadButtonColumn button {
  	background-image: url('xplanmgrweb/img/download.png');
  	background-size: contain;
  	width: 25px;
  	height: 25px;
    }
.editButtonColumn button {
  	background-image: url('xplanmgrweb/img/edit.png');
  	background-size: contain;
  	width: 25px;
  	height: 25px;
    }
.publishPluButtonColumn button {
  	background-image: url('xplanmgrweb/img/publishplu.png');
  	background-size: contain;
  	width: 25px;
  	height: 25px;
    }
th.actionHeaderStyle {
	text-align: center;
}


@media screen and (max-width:1360px){
   td.planListColumn {
      max-width: 25em;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media screen and (max-width:1330px){
   td.planListColumn {
      max-width: 25em;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media screen and (max-width:1300px){
  td.planListColumn {
     max-width: 25em;
     padding-left: 13px;
     padding-right: 13px;
  }
}
@media screen and (max-width:1250px){
   td.planListColumn {
      max-width: 25em;
      padding-left: 10px;
      padding-right: 10px;
  }
}
@media screen and (max-width:1200px){
   td.planListColumn {
      max-width: 25em;
      padding-left: 10px;
      padding-right: 10px;
  }
}
@media screen and (max-width:1180px){
   td.planListColumn {
      max-width: 10em;
      padding-left: 8px;
      padding-right: 8px;
  }
}
@media screen and (max-width:1135px){
  td.planListColumn {
      max-width: 8.7em;
      padding-left: 6px;
      padding-right: 6px;
  }
}
@media screen and (max-width: 1100px) {
  td.planListColumn {
      max-width: 7.0em;
      padding-left: 2px;
      padding-right: 2px;
    }
}
@media screen and (max-width: 1024px) {
  td.planListColumn { max-width: 7.0em;
    padding-left: 2px;
    padding-right: 2px; }
}

/* Validierungsstatus*/
.cellButton div {
  text-align: center;
  background-image: none;
  width: 1.5em;
  height: 1.5em;
  margin:0 auto;
  }
.buttonNotValidated div {
  background-color: #AAAAAA;
  }
.buttonValid div {
  background-color: #00FF00;
  }
.buttonNotValid div {
  background-color: #FF0000;
  }
.buttonLoaded div {
  background-color: #00FF00;
  }
.buttonNotLoaded div {
  background-color: #FF0000;
  }

/*Kategorien/Suche Bereich*/
.gwt-TabBar {
  padding-top: 6px;
  }
td.gwt-TabBarFirst-wrapper, td.gwt-TabBarFirst{
  display: none;
  }
.gwt-TabBarItem {
  padding-top:8px;
  padding-bottom: 4px;
  margin-right:0px;
  cursor: pointer;
  text-align: center;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  }
.gwt-TabBarItem-selected {
  cursor: default;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 5px;
  }
.gwt-TabPanelBottom {
  border-style: solid;
  border-width: 0px 1px 1px;
  overflow: hidden;
  padding: 6px;
  }
.gwt-Label{
  min-width:9em;
  padding-bottom:5px;
	}

/*Dialogboxen*/
.gwt-DialogBox .Caption {
  padding: 5px 5px 5px 16px;
  margin-bottom: 20px;
  cursor: default;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 1px;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
  }
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  }


/*verschieden Farbthemes*/

/*xplanweb*/
body{
  background-color: #fcfcfc;
  }
#header{
  background-color: #fcfcfc;
  background-image: url(latilong.png);
  background-repeat:no-repeat;
  width:100%;
  height:70px;
  margin: auto;
  margin-bottom: 1em;
  padding-top: 20px;
  border-bottom: 5px solid #ff9900;
  }
h1, h2{
  margin-top: 1px;
  padding-left:137px;
  letter-spacing: 0.16em;
  font-weight: normal;
  }
h1{
  color: #757575;
  }
h2{
  color: #8e8e8e;
  }
#header img{
  position: absolute;
  width: 200px;
  right: 150px;
  top:10px;
  }
td.middleCenter{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fafafa;
  margin:auto;
  width:1000px;
  border: 1px solid #fafafa;
  }
button{
  border:2px solid #ffa31a;
  background-color: #ff9900;
  font-family: Univers Condensed, Arial;
  color: #E9FFF8;
  }
button:hover, button:focus, button:active:focus, button:active{
  background-color: #ffad34;
  border-color: #ffa31a;
  color: #E9FFF8;
  }
.removeButtonColumn button{
  border:1px solid #e70026;
  background-color:#cd0022;
  font-family: Univers Condensed, Arial;
  }
.removeButtonColumn button:hover, .removeButtonColumn button:focus, .removeButtonColumn button:active:focus, .removeButtonColumn button:active{
  background-color:#ff012b;
  border-color:#e70026;
  }
button[disabled], button[disabled]:hover, button[disabled]:active, button[disabled]:focus, button[disabled]:active:focus{
  color: #666;
  background-color: #bbb;
  border-color: #bbb;
  }
.gwt-DialogBox{
  background-color: #FFF;
  padding:20px;
  border: 10px solid #ff9900;
  margin: 1em;
  }
td.gwt-TabBarFirst-wrapper, td.gwt-TabBarRest-wrapper{
  border-bottom: 1px solid #a6a6a6;
  }
.gwt-TabBarItem {
  background: #f2f2f2;
  color: #676767;
  border: 1px solid #a6a6a6;
  }
.gwt-TabBarItem-selected {
  background: #fff;
  color: #333;
  border: 1px solid #a6a6a6;
  border-bottom: none;
  }
.gwt-TabPanelBottom {
  border-color: #a6a6a6;
  background-color: #e0e0e0;
  background-image: -webkit-linear-gradient(#ffffff 0%, #e0e0e0 100%);
  background-image: -moz-linear-gradient(#ffffff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(#ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(#ffffff 0%, #e0e0e0 100%);
  }

/*blau
button{
	border:1px solid #46b8da;
	background-color:#5bc0de;
	}
button:hover, button:focus, button:active:focus, button:active{
	background-color:#31b0d5;
	border-color:#269abc;
   }

td.gwt-TabBarFirst-wrapper, td.gwt-TabBarRest-wrapper, td.gwt-TabBarItem-wrapper{
	border-bottom: 1px solid #5bc0de;
	}
.gwt-TabBarItem {
  border: 1px solid #5bc0de;
  border-bottom: none;
  }
td.gwt-TabBarItem-wrapper-selected{
	border-bottom: none;
	}
.gwt-TabPanelBottom {
  border-color: #5bc0de;
  }
*/
/*orange*/
/*button{
	border:1px solid #eea236;
	background-color:#FE9A2E;
	}
button:hover, button:focus, button:active:focus, button:active{
	background-color:#ec971f;
	border-color:#d58512
   }

td.gwt-TabBarFirst-wrapper, td.gwt-TabBarRest-wrapper{
	border-bottom: 1px solid #FE9A2E;
	}
.gwt-TabBarItem {
  border: 1px solid #FE9A2E;
  border-bottom: none;
  }
.gwt-TabPanelBottom {
  border-color: #FE9A2E;
  }
  */

.editorValidationError{
	background-color: #ffcccc;
}

.validationError {
	color: red;
	font-weight: bold;
	margin: 10px;
}

#filter-panel {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}

#footer{
	font-size: small;
 	color: lightgray;
	text-align:center;
	width: 100%;
}

.valOptionsPanel button{
    margin-top: 15px;
}

.valOptionTitle {
  color: #ff9900;
  font-weight: bold;
  font-size: larger;
}

.valOptionLabel {
    color: #ff9900;
    font-weight: bold;
    margin-top: 10px;
}

.valOption {
    margin-left: 30px;
}

/*Stylingversuch für den Durchsuchenbutton*/
input[type=button] {
  background-color:#005fa6;
  }
